.ecahu { 
  border-top-width: 90px;
  padding-bottom: 42px;
  line-height: 64px;
  margin-top: 74px;
  border-top-width: 21px;
  margin-bottom: 46px;
  font-size: 26px;
  margin-left: 82px;
  border-top-width: 47px;
  margin-right: 93px;
  padding-bottom: 6px;
}
