.ecahu { 
  border-top-width: 90px;
  padding-bottom: 42px;
  line-height: 64px;
  margin-top: 74px;
  border-top-width: 21px;
  margin-bottom: 46px;
  font-size: 26px;
  margin-left: 82px;
  border-top-width: 47px;
  margin-right: 93px;
  margin-top: 98px;
  margin-left: 2px;
  margin-bottom: 28px;
  border-left-width: 40px;
  padding-left: 37px;
  border-bottom-width: 5px;
  border-left-width: 52px;
  border-right-width: 7px;
  padding-bottom: 95px;
  font-size: 7px;
  padding-left: 67px;
  border-bottom-width: 19px;
  border-left-width: 47px;
  padding-top: 78px;
  border-top-width: 4px;
  border-bottom-width: 49px;
  font-size: 80px;
  border-bottom-width: 27px;
  border-bottom-width: 29px;
  margin-right: 44px;
  border-left-width: 62px;
  border-left-width: 32px;
  padding-left: 35px;
}
