.pksyh { 
  margin-top: 4px;
  border-left-width: 64px;
  line-height: 51px;
  border-bottom-width: 61px;
  margin-left: 43px;
  padding-top: 52px;
  padding-bottom: 19px;
  border-right-width: 91px;
}
